{% extends "layout.html.twig" %}

{% block title %}Star Wars Characters{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-9">
            {{ form_widget(form.name) }}
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary btn-sm" type="submit">Search</button>
        </div>
    </div>
    {{ form_end(form) }}

    <div class="row">
        {% for character in characters %}
        <div class="card col-md-4 mt-3">
            {% if character.picture %}
                <img src="" class="card-img-top" alt="...">
            {% else %}
                <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
            {% endif %}

            <div class="card-body">
                <h5 class="card-title">{{ character.name }}</h5>
                <p class="card-text">Height: {{ character.height }}</p>
                <p class="card-text">Mass: {{ character.mass }}</p>
                <p class="card-text">Gender: {{ character.gender }}</p>
                <a href="{{ url('characters_edit', {'id': character.id}) }}" class="btn btn-primary btn-sm">Edit</a>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}